CLIENT_KEY=ff94288a8c26f232c8aa06b37d6068de

AIRFLOW__CORE__FERNET_KEY="GENERATE A FERNET KEY AND PUT IT HERE"

AWS_ACCESS_KEY_ID="PUT HERE YOUR AWS ACESS KEY"
AWS_SECRET_ACCESS_KEY="PUT HERE YOUR AWS SECRET KEY"

DATABRICKS_HOST="PUT HERE YOUR DATABRICKS HOST LINK"
DATABRICKS_TOKEN="PUT HERE THE API KEY FROM DATABRICKS"
JOB_ID"PUT HERE YOUR JOB ID"
