asarPy==1.0.1
boto3==1.43.2
botocore==1.43.2
certifi==2026.4.22
charset-normalizer==3.4.7
cramjam==2.11.0
fastparquet==2026.3.0
fsspec==2026.4.0
idna==3.13
jmespath==1.1.0
numpy==2.4.4
packaging==26.2
pandas==3.0.2
pyarrow==24.0.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
requests==2.33.1
s3transfer==0.17.0
six==1.17.0
urllib3==2.6.3
